<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <meta charset="UTF-8"/>
    <title>Đơn hàng của bạn đã được xác nhận | LA HOA</title>
</head>

<body style="
    margin:0;
    padding:0;
    background:#faf7f8;
    font-family:Arial,sans-serif;
">

<table style="
    width:100%;
    border-collapse:collapse;
    background:#faf7f8;
    padding:24px 0;
">

    <tr>
        <td style="padding:24px 16px">

            <table style="
    max-width:600px;
    margin:0px auto;
    border-collapse:collapse;
    background:#ffffff;
    overflow:hidden;
">

                <!-- HEADER -->
                <tr>
                    <td th:replace="email/fragments/header :: header"></td>
                </tr>

                <!-- TITLE -->
                <tr>
                    <td style="
    background:#2f2b33;
    padding:16px 24px;
">

                        <h2 style="
    margin:0;
    color:#fff;
    font-size:20px;
    font-weight:600;
">
                            Đơn hàng đã được xác nhận
                        </h2>

                    </td>
                </tr>

                <!-- CONTENT -->
                <tr>
                    <td style="
    padding:24px;
    color:#444;
    font-size:14px;
    line-height:1.5
">

                        <p>Xin chào <strong style="color:#6e5b00;" th:text="${name}"></strong>,</p>

                        <p>
                            Cảm ơn bạn đã đặt hoa tại <b>LA HOA</b>.
                            Đơn hàng của bạn đã được xác nhận thành công.
                        </p>

                        <div style="
            background:#faf7f8;
            padding:4px 16px;
            border-radius:2px;
            margin:16px 0;
        ">
                            <p><b>Mã đơn:</b> <span th:text="${orderCode}"></span></p>
                            <p><b>Tổng tiền:</b> <span th:text="${totalAmount}"></span></p>
                            <p><b>Ngày đặt:</b> <span th:text="${orderDate}"></span></p>
                        </div>

                        <p>
                            Chúng mình đang chuẩn bị bó hoa thật chỉn chu để gửi đến bạn.
                        </p>

                        <div style="margin:32px 0;">
                            <a th:href="${trackingLink}"
                               target="_blank"
                               style="
               background:#AB886D;
               color:white;
               padding:10px 30px;
               border-radius:2px;
               text-decoration:none;
               font-weight:600;
               font-size:16px;
               line-height:20px;
               cursor: pointer;">
                                Theo dõi đơn hàng
                            </a>
                        </div>

                        <p style="color:#6b7280;">
                            LA HOA sẽ thông báo ngay khi đơn bắt đầu giao.
                        </p>

                    </td>
                </tr>


                <!-- FOOTER -->
                <tr>
                    <td th:replace="email/fragments/footer :: footer"></td>
                </tr>

            </table>

        </td>
    </tr>

</table>

</body>
</html>